BPEL/FlujoBPEL/src/RatingProviderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rs.udc.es/rating" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rs.udc.es/rating" name="RatingProviderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rs.udc.es/rating" schemaLocation="RatingProviderService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="getPhoneCallPrice">
        <part name="parameters" element="tns:getPhoneCallPrice"/>
    </message>
    <message name="getPhoneCallPriceResponse">
        <part name="parameters" element="tns:getPhoneCallPriceResponse"/>
    </message>
    <message name="RatingException">
        <part name="fault" element="tns:RatingException"/>
    </message>
    <message name="getDiscount">
        <part name="parameters" element="tns:getDiscount"/>
    </message>
    <message name="getDiscountResponse">
        <part name="parameters" element="tns:getDiscountResponse"/>
    </message>
    <portType name="RatingProvider">
        <operation name="getPhoneCallPrice">
            <input wsam:Action="http://rs.udc.es/rating/RatingProvider/getPhoneCallPriceRequest" message="tns:getPhoneCallPrice"/>
            <output wsam:Action="http://rs.udc.es/rating/RatingProvider/getPhoneCallPriceResponse" message="tns:getPhoneCallPriceResponse"/>
            <fault message="tns:RatingException" name="RatingException" wsam:Action="http://rs.udc.es/rating/RatingProvider/getPhoneCallPrice/Fault/RatingException"/>
        </operation>
        <operation name="getDiscount">
            <input wsam:Action="http://rs.udc.es/rating/RatingProvider/getDiscountRequest" message="tns:getDiscount"/>
            <output wsam:Action="http://rs.udc.es/rating/RatingProvider/getDiscountResponse" message="tns:getDiscountResponse"/>
            <fault message="tns:RatingException" name="RatingException" wsam:Action="http://rs.udc.es/rating/RatingProvider/getDiscount/Fault/RatingException"/>
        </operation>
    </portType>
</definitions>