BPEL/FlujoBPEL/src/TelcoProviderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rs.udc.es/telco" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rs.udc.es/telco" name="TelcoProviderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rs.udc.es/telco" schemaLocation="TelcoProviderService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="findCallsToBill">
        <part name="parameters" element="tns:findCallsToBill"/>
    </message>
    <message name="findCallsToBillResponse">
        <part name="parameters" element="tns:findCallsToBillResponse"/>
    </message>
    <message name="TelcoException">
        <part name="fault" element="tns:TelcoException"/>
    </message>
    <message name="changeStatus">
        <part name="parameters" element="tns:changeStatus"/>
    </message>
    <message name="changeStatusResponse">
        <part name="parameters" element="tns:changeStatusResponse"/>
    </message>
    <portType name="TelcoProvider">
        <operation name="findCallsToBill">
            <input wsam:Action="http://rs.udc.es/telco/TelcoProvider/findCallsToBillRequest" message="tns:findCallsToBill"/>
            <output wsam:Action="http://rs.udc.es/telco/TelcoProvider/findCallsToBillResponse" message="tns:findCallsToBillResponse"/>
            <fault message="tns:TelcoException" name="TelcoException" wsam:Action="http://rs.udc.es/telco/TelcoProvider/findCallsToBill/Fault/TelcoException"/>
        </operation>
        <operation name="changeStatus">
            <input wsam:Action="http://rs.udc.es/telco/TelcoProvider/changeStatusRequest" message="tns:changeStatus"/>
            <output wsam:Action="http://rs.udc.es/telco/TelcoProvider/changeStatusResponse" message="tns:changeStatusResponse"/>
            <fault message="tns:TelcoException" name="TelcoException" wsam:Action="http://rs.udc.es/telco/TelcoProvider/changeStatus/Fault/TelcoException"/>
        </operation>
    </portType>
</definitions>