BPEL/PruebaCA/src/jbiasa/PruebaCA.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="PruebaCA"
             xmlns:tns="PruebaCA" xmlns:ns="http://rs.udc.es/telco" xmlns:ns1="http://j2ee.netbeans.org/wsdl/FlujoBPEL/src/CallsSearch" xmlns:ns2="http://rs.udc.es/rating" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://rs.udc.es/billing" xmlns:ns4="http://rs.udc.es/reward">
    <import namespace="http://rs.udc.es/telco" location="../jbiServiceUnits/FlujoBPEL/TelcoProviderService.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/FlujoBPEL/src/CallsSearch" location="../jbiServiceUnits/FlujoBPEL/CallsSearch.wsdl"/>
    <import namespace="http://rs.udc.es/rating" location="../jbiServiceUnits/FlujoBPEL/RatingProviderService.wsdl"/>
    <import namespace="http://rs.udc.es/billing" location="../jbiServiceUnits/FlujoBPEL/BillingProviderService.wsdl"/>
    <import namespace="http://rs.udc.es/reward" location="../jbiServiceUnits/FlujoBPEL/RewardProviderService.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding2" type="ns:TelcoProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="findCallsToBill">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TelcoException">
                <soap:fault name="TelcoException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeStatus">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TelcoException">
                <soap:fault name="TelcoException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:RatingProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getPhoneCallPrice">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RatingException">
                <soap:fault name="RatingException" use="literal"/>
            </fault>
        </operation>
        <operation name="getDiscount">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RatingException">
                <soap:fault name="RatingException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:BillingProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createAndSendBill">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:RewardProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="removePendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmPendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="addPendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding1" type="ns1:CallsSearchPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CallsSearchOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="PruebaCA"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="PruebaCA"/>
            </output>
        </operation>
        <operation name="SentBill">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="PruebaCA"/>
            </input>
        </operation>
        <operation name="payedBill">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="PruebaCA"/>
            </input>
        </operation>
    </binding>
    <service name="PruebaCAService2">
        <port name="TelcoProvider" binding="tns:casaBinding2">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/TelcoService"/>
        </port>
    </service>
    <service name="PruebaCAService3">
        <port name="RatingProvider" binding="tns:casaBinding3">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/RatingService"/>
        </port>
    </service>
    <service name="PruebaCAService4">
        <port name="BillingProvider" binding="tns:casaBinding4">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/BillingService"/>
        </port>
    </service>
    <service name="PruebaCAService5">
        <port name="RewardProvider" binding="tns:casaBinding5">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/RewardService"/>
        </port>
    </service>
    <service name="PruebaCAService1">
        <port name="CallsSearch" binding="tns:casaBinding1">
            <soap:address location="http://localhost:80/PruebaCA/CallsSearch"/>
        </port>
    </service>
</definitions>
